<h1 class="d-flex flex-row align-items-center">
  <a
    [routerLink]="'/lawyers'"
    class="flex flex-row align-items-center mr-4 p-0"
  >
    <i class="simple-icon-arrow-left align-middle title-md"></i>
  </a>
  <span>Detalle del abogado</span>
</h1>

<div class="separator mb-5"></div>

<div class="row mb-4" *ngIf="lawyer">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-4">Información Básica</h5>
        <form autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Nombre</label>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="lawyer?.name"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="credit_id">Número de documento</label>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="lawyer?.document_number"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Email</label>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="lawyer?.email"
              />
            </div>
            <div class="form-group col-md-6">
              <label>Teléfono o Celular</label>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="lawyer?.phone"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4" *ngIf="processes">
  <app-table-processes
    (processChange)="getProcesses($event)"
    [ngClass]="'col-12 mb-4'"
    [title]="'Procesos realizados'" [items]="processes"
    [idPg]="'pg-processes'"
    [totalPaginate]="totalProcesses"
    [pagination]="true"></app-table-processes>
</div>
