<div class="row mb-2 d-flex flex-row justify-content-between">
  <h1 class="d-flex flex-row align-items-center">
    <a [routerLink]="'/accounts'" class="flex flex-row align-items-center mr-4 p-0">
      <i class="simple-icon-arrow-left align-middle title-md"></i>
    </a>
    <span>Detalles de la cuenta</span>
  </h1>
  <div class="top-right-button-container">
    <button
      type="button"
      class="btn btn-outline-primary btn-lg top-right-button mr-1"
      (click)="openModal()"
    >
      Nueva transacción
    </button>
  </div>
</div>

<div class="separator mb-5"></div>

<div class="row flex-lg-row flex-column justify-content-between">

  <app-card-detail
    [ngClass]="'col-xl-6 col-lg-12 mb-4'"
    [account]="account"></app-card-detail>

  <app-table-credits
    (creditChange)="getCredits($event)"
    [ngClass]="'col-xl-6 col-lg-12 mb-4'"
    [title]="'Créditos'" [credits]="credits"
    [idPg]="'pg-credits'"
    [totalPaginate]="creditsPaginate"
    [pagination]="true"></app-table-credits>

  <app-table-transactions
    (pageChange)="getDeposits($event)"
    [ngClass]="'col-xl-6 col-lg-12 mb-4'"
    [title]="'Depositos'" [items]="deposits"
    [idPg]="'pg-deposits'" [total]="depositsTotal"
    [totalPaginate]="depositsPaginate"
    [pagination]="true"></app-table-transactions>

  <app-table-transactions
    (pageChange)="getRetires($event)"
    [ngClass]="'col-xl-6 col-lg-12 mb-4'"
    [title]="'Retiros'" [items]="retires"
    [idPg]="'pg-retires'" [total]="retiresTotal"
    [totalPaginate]="retiresPaginate"
    [pagination]="true"></app-table-transactions>

</div>
