<div class="card">
  <div class="card-body">
    <h5 class="card-title d-flex flex-row justify-content-between align-items-center">
      <span>{{title}}</span>
      <span *ngIf="totalPaginate" class="d-flex flex-column justify-content-end align-items-end">
        <small class="text-small">Total de créditos:</small>
        {{totalPaginate}}
      </span>
    </h5>
    <table class="table">
      <thead>
      <tr>
        <th>No.</th>
        <th>Valor</th>
        <th>Cuotas</th>
        <th>Fecha</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let credit of credits |
                        paginate: {
                          id: idPg,
                          itemsPerPage: max,
                          currentPage: page,
                          totalItems: totalPaginate
                        }
      ">
        <td>
          <a [routerLink]="['/detail-credit', credit.id]">
            <span class="badge badge-secondary">{{ credit.code }}</span>
          </a>
        </td>
        <td>{{ credit.capital_value | currency }}</td>
        <td>{{ credit.fee }}</td>
        <td>{{ getDate(credit) | date: "yyyy-MM-dd" }}</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center mt-3" *ngIf="pagination">
      <pagination-template
        [id]="idPg"
        #p="paginationApi"
        (pageChange)="onPageChange($event)"
      >
        <div class="custom-pagination">
          <div
            class="pagination-previous"
            [class.disabled]="p.isFirstPage()" (click)="p.previous()"
          >
                <span *ngIf="!p.isFirstPage()"
                ><i class="simple-icon-arrow-left"></i
                ></span>
          </div>
          <div
            class="page-number"
            *ngFor="let page of p.pages"
            [class.current]="p.getCurrent() === page.value"
            (click)="p.setCurrent(page.value)"
          >
                <span

                  *ngIf="p.getCurrent() !== page.value"
                >{{ page.label }}</span
                >
            <div *ngIf="p.getCurrent() === page.value">
              <span>{{ page.label }}</span>
            </div>
          </div>
          <div class="pagination-next" [class.disabled]="p.isLastPage()" (click)="p.next()">
                <span *ngIf="!p.isLastPage()"
                ><i class="simple-icon-arrow-right"></i
                ></span>
          </div>
        </div>
      </pagination-template>
    </div>
  </div>
</div>
