<div class="mb-2">
  <h1>Detalle del crédito</h1>
</div>

<div class="separator mb-5"></div>

<!-- aprobar rechazar credito -->
<div
  class="row mb-4"
  *ngIf="credit && (credit.status === 'P' || credit.status === 'A')"
>
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-3">Acciones del credito</h5>
        <div class="form-row" *ngIf="credit.status === 'P'">
          <button
            type="submit"
            class="btn btn-primary d-block ml-1"
            (click)="approveRejectCredit('A')"
          >
            Aprobar
          </button>
          <button
            type="submit"
            class="btn btn-danger d-block ml-1"
            (click)="approveRejectCredit('R')"
          >
            Rechazar
          </button>
        </div>
        <div class="form-row" *ngIf="credit.status === 'A'">
          <button
            type="submit"
            class="btn btn-primary d-block ml-1"
            (click)="openModalRefinanceCredit()"
          >
            Refinanciar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin aprobar rechazar credito -->

<!-- detalles basicos del crédito -->
<div class="row mb-4" *ngIf="credit">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-4">Información Básica</h5>
        <form autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="account_id">Cuenta*</label>
              <input
                id="account_id"
                class="form-control"
                readonly
                [value]="
                  credit?.account?.account_number + ' ' + credit?.account?.name
                "
              />
            </div>
            <div class="form-group col-md-4">
              <label for="payroll_id">Pagaduría*</label>
              <input
                id="payroll_id"
                class="form-control"
                readonly
                [value]="credit?.payroll?.name"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="credit_type_id">Tipo de crédito*</label>
              <input
                id="credit_type_id"
                class="form-control"
                readonly
                [value]="credit?.credit_type?.name"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="debtor_id">Titular*</label>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="
                  credit?.debtor?.document_number + ' ' + credit?.debtor?.name
                "
              />
            </div>
            <div class="form-group col-md-6">
              <label for="first_co_debtor">Codeudor 1*</label>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="
                  credit?.first_co_debtor?.document_number +
                  ' ' +
                  credit?.first_co_debtor?.name
                "
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="second_co_debtor">Codeudor 2</label>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="
                  credit?.second_co_debtor?.document_number +
                  ' ' +
                  credit?.second_co_debtor?.name
                "
              />
            </div>
            <div class="form-group col-md-4">
              <label for="adviser_id">Asesor</label>
              <input
                type="text"
                class="form-control"
                readonly
                [value]="credit?.adviser?.name"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="start_date">Fecha de inicio*</label>
              <input
                type="text"
                class="form-control"
                id="start_date"
                readonly
                [value]="credit?.start_date"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="capital_value">Valor capital*</label>
              <input
                type="text"
                class="form-control"
                id="capital_value"
                readonly
                [value]="credit?.capital_value | currency"
              />
            </div>
            <div class="form-group col-md-2">
              <label for="transport_value">Valor Transporte</label>
              <input
                type="text"
                class="form-control"
                id="transport_value"
                readonly
                [value]="credit?.transport_value | currency"
              />
            </div>
            <div class="form-group col-md-2">
              <label for="other_value">Valor Otros</label>
              <input
                type="text"
                class="form-control"
                id="other_value"
                readonly
                [value]="credit?.other_value | currency"
              />
            </div>
            <div class="form-group col-md-2">
              <label for="interest">% Interés*</label>
              <input
                type="text"
                class="form-control"
                id="interest"
                readonly
                [value]="'%' + credit?.interest"
              />
            </div>
            <div class="form-group col-md-2">
              <label for="commission">% Comisión*</label>
              <input
                type="text"
                class="form-control"
                id="commission"
                readonly
                [value]="'%' + credit?.commission"
              />
            </div>
            <div class="form-group col-md-2">
              <label for="fee">Meses Plazo*</label>
              <input
                type="text"
                class="form-control"
                id="fee"
                readonly
                [value]="credit?.fee"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--fin detalles basicos del crédito -->

<!-- estado y valores totales -->
<div class="row mb-4" *ngIf="credit">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-4">
          Estado del Crédito :
          <span class="badge badge-info">{{
            credit.status | formatStatus
          }}</span>
          <span class="badge badge-info m-1" *ngIf="credit.refinanced"
            >REFINANCIADO</span
          >
        </h5>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Valor Total Crédito</label>
            <p class="detail-credit-info text-right badge-info">
              ${{ credit?.liquidate?.total_credit }}
            </p>
          </div>
          <div class="form-group col-md-3">
            <label>Valor Total Intereses</label>
            <p class="detail-credit-info text-right badge-info">
              ${{ credit?.liquidate?.total_interest }}
            </p>
          </div>
          <div class="form-group col-md-3">
            <label>Valor Cuota</label>
            <p class="detail-credit-info text-right badge-info">
              ${{ credit.liquidate.fees[0].fee_value }}
            </p>
          </div>
          <div class="form-group col-md-3">
            <label>Fecha Desembolso</label>
            <p class="detail-credit-info text-right badge-info">
              {{ credit?.start_date }}
            </p>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Total Egresos</label>
            <p class="detail-credit-info text-right badge-danger">
              {{ credit?.totals.total_retires | currency }}
            </p>
          </div>
          <div class="form-group col-md-3">
            <label>Total Desembolsos</label>
            <p class="detail-credit-info text-right badge-info">
              {{ credit?.capital_value | currency }}
            </p>
          </div>
          <div class="form-group col-md-3">
            <label>Total Abonos</label>
            <p class="detail-credit-info text-right badge-success">
              {{ credit?.totals.total_deposit | currency }}
            </p>
          </div>
          <div class="form-group col-md-3">
            <label>Saldo Actual</label>
            <p class="detail-credit-info text-right badge-danger">
              {{ credit?.payment | currency }}
            </p>
          </div>
        </div>

        <!-- tabla de abonos y egresos -->
        <div class="form-row">
          <!-- tabla de egresos -->
          <div class="col-md-6 mb-4">
            <div class="mb-4">
              <div class="card">
                <div class="card-body">
                  <h6 class="mb-4">Egresos</h6>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                        <th>Fecha</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let item of expenses
                            | paginate
                              : {
                                  itemsPerPage: max,
                                  currentPage: pageExpenses,
                                  totalItems: totalExpenses,
                                  id: 'expenses'
                                }
                        "
                      >
                        <td>
                          <span
                            class="badge pl-0 font-weight-bold font-badge"
                            >{{ item.code }}</span
                          >
                        </td>
                        <td>
                          <span [ngClass]="getClassBadge(item.origin)">{{
                            item.origin | formatTypeTransaction
                          }}</span>
                        </td>
                        <td>{{ item.value | currency }}</td>
                        <td>{{ item.created_at | date: "yyyy-MM-dd" }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-center mt-3">
                    <pagination-template
                      #pExpenses="paginationApi"
                      (pageChange)="onPageExpensesChange($event)"
                      id="expenses"
                    >
                      <div class="custom-pagination">
                        <div
                          class="pagination-previous"
                          [class.disabled]="pExpenses.isFirstPage()"
                        >
                          <span
                            *ngIf="!pExpenses.isFirstPage()"
                            (click)="pExpenses.previous()"
                            ><i class="simple-icon-arrow-left"></i
                          ></span>
                        </div>
                        <div
                          class="page-number"
                          *ngFor="let page of pExpenses.pages"
                          [class.current]="
                            pExpenses.getCurrent() === page.value
                          "
                        >
                          <span
                            (click)="pExpenses.setCurrent(page.value)"
                            *ngIf="pExpenses.getCurrent() !== page.value"
                            >{{ page.label }}</span
                          >
                          <div *ngIf="pExpenses.getCurrent() === page.value">
                            <span>{{ page.label }}</span>
                          </div>
                        </div>
                        <div
                          class="pagination-next"
                          [class.disabled]="pExpenses.isLastPage()"
                        >
                          <span
                            *ngIf="!pExpenses.isLastPage()"
                            (click)="pExpenses.next()"
                            ><i class="simple-icon-arrow-right"></i
                          ></span>
                        </div>
                      </div>
                    </pagination-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- fin de tabla de egresos -->

          <!-- tabla de abonos -->
          <div class="col-md-6 mb-4">
            <div class="mb-4">
              <div class="card">
                <div class="card-body">
                  <div>
                    <div
                      class="d-flex justify-content-between align-items-center mb-3"
                    >
                      <h6 class="">Abonos realizados</h6>
                      <button
                        type="button"
                        class="btn btn-outline-primary btn-sm"
                        (click)="openModalDeposit()"
                        *ngIf="credit.status === 'A'"
                      >
                        Nuevo abono
                      </button>
                    </div>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                        <th>Fecha</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let item of incomes
                            | paginate
                              : {
                                  itemsPerPage: max,
                                  currentPage: pageIncomes,
                                  totalItems: totalIncomes,
                                  id: 'incomes'
                                }
                        "
                      >
                        <td>
                          <span
                            class="badge pl-0 font-weight-bold font-badge"
                            >{{ item.code }}</span
                          >
                        </td>
                        <td>
                          <span [ngClass]="getClassBadge(item.origin)">{{
                            item.origin | formatTypeTransaction
                          }}</span>
                        </td>
                        <td>{{ item.value | currency }}</td>
                        <td>{{ item.created_at | date: "yyyy-MM-dd" }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-center mt-3">
                    <pagination-template
                      #pIncomes="paginationApi"
                      (pageChange)="onPageIncomesChange($event)"
                      id="incomes"
                    >
                      <div class="custom-pagination">
                        <div
                          class="pagination-previous"
                          [class.disabled]="pIncomes.isFirstPage()"
                        >
                          <span
                            *ngIf="!pIncomes.isFirstPage()"
                            (click)="pIncomes.previous()"
                            ><i class="simple-icon-arrow-left"></i
                          ></span>
                        </div>
                        <div
                          class="page-number"
                          *ngFor="let page of pIncomes.pages"
                          [class.current]="pIncomes.getCurrent() === page.value"
                        >
                          <span
                            (click)="pIncomes.setCurrent(page.value)"
                            *ngIf="pIncomes.getCurrent() !== page.value"
                            >{{ page.label }}</span
                          >
                          <div *ngIf="pIncomes.getCurrent() === page.value">
                            <span>{{ page.label }}</span>
                          </div>
                        </div>
                        <div
                          class="pagination-next"
                          [class.disabled]="pIncomes.isLastPage()"
                        >
                          <span
                            *ngIf="!pIncomes.isLastPage()"
                            (click)="pIncomes.next()"
                            ><i class="simple-icon-arrow-right"></i
                          ></span>
                        </div>
                      </div>
                    </pagination-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- fin de tabla de abonos -->
        </div>
        <!-- fin tabla de abonos y egresos -->
      </div>
    </div>
  </div>
</div>
<!-- fin estado y valores totales -->

<!-- documentos anexos del crédito -->
<div class="row mb-4" *ngIf="credit">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-4">Documentos Anexos del Crédito</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre archivo</th>
              <th>Fecha anexado</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of credit.documents">
              <td>{{ item.document_file_url }}</td>
              <td>{{ item.created_at | date: "yyyy-MM-dd" }}</td>
              <td class="text-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a
                    type="button"
                    class="btn btn-info"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Ver"
                    [href]="item.document_file_url"
                    target="_blank"
                  >
                    <i class="simple-icon-eye"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- fin documentos anexos del crédito -->

<!-- observaciones sobre el crédito -->
<div class="row mb-4" *ngIf="credit">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-4">Observaciones sobre el Crédito</h5>
        <form
          autocomplete="off"
          [formGroup]="commentarysForm"
          (submit)="addCreditCommentary()"
        >
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Observaciones/Notas:</label>
              <textarea
                rows="10"
                class="form-control"
                formControlName="commentary"
              ></textarea>
            </div>
          </div>
          <div class="form-row">
            <button
              type="submit"
              class="btn btn-primary d-block mt-3"
              [disabled]="!commentarysForm.valid || loadingCommentaryForm"
            >
              Actualizar notas
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- fin observaciones sobre el crédito -->

<!-- tabla de liquidación -->
<div class="row mb-4" *ngIf="credit">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-4">Liquidación</h5>
        <div class="mt-4" *ngIf="credit.liquidate">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>No.</th>
                <th>Fecha vencimiento</th>
                <th>Valor cuota</th>
                <th>Valor capital</th>
                <th>Valor intereses</th>
                <th>Saldo capital</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <strong>${{ credit.liquidate.total_credit }}</strong>
                </td>
              </tr>
              <tr *ngFor="let item of credit.liquidate.fees">
                <td>{{ item.number }}</td>
                <td>{{ item.start_date }}</td>
                <td>${{ item.fee_value }}</td>
                <td>${{ item.capital_fee }}</td>
                <td>${{ item.interest_value }}</td>
                <td>${{ item.capital_balance }}</td>
              </tr>
              <tr>
                <th colspan="2">TOTALES</th>
                <td>
                  <strong>${{ credit.liquidate.total_credit }}</strong>
                </td>
                <td>
                  <strong>${{ credit.liquidate.total_capital }}</strong>
                </td>
                <td>
                  <strong>${{ credit.liquidate.total_interest }}</strong>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin tabla de liquidación -->
