<div class="mb-2">
  <h1>Clientes</h1>
  <div class="top-right-button-container">
    <button
      type="button"
      class="btn btn-outline-primary btn-lg top-right-button mr-1"
      data-toggle="modal"
      data-backdrop="static"
      data-target="#exampleModal"
    >
      Nuevo cliente
    </button>
  </div>
</div>

<!-- buscador -->
<div class="mb-2">
  <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions" role="button" aria-expanded="true" aria-controls="displayOptions">
      Display Options
      <i class="simple-icon-arrow-down align-middle"></i>
  </a>
  <div class="collapse d-md-block" id="displayOptions">
      <div class="d-block d-md-inline-block">
          <!-- <div class="btn-group float-md-left mr-1 mb-1">
              <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Order By
              </button>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
              </div>
          </div> -->
          <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
              <input placeholder="Buscar...">
          </div>
      </div>
  </div>
</div>
<!-- fin buscador -->

<div class="separator mb-5"></div>

<div class="row mb-4">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Documento</th>
              <th>Telefono</th>
              <th>Email</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of clients
                  | paginate
                    : {
                        itemsPerPage: max,
                        currentPage: page,
                        totalItems: total
                      }
              "
            >
              <td>{{ item.name }}</td>
              <td>{{ item.document_number }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.email }}</td>
              <td class="text-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Editar"
                  >
                    <i class="simple-icon-pencil"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Eliminar"
                    (click)="deleteClient(item)"
                  >
                    <i class="simple-icon-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center mt-3">
          <pagination-controls
            class="my-pagination"
            (pageChange)="onPageChange($event)"
            previousLabel="Anterior"
            nextLabel="Siguiente"
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
