<div class="mb-2">
  <h1>Proveedores</h1>
  <div class="top-right-button-container">
    <button
      type="button"
      class="btn btn-outline-primary btn-lg top-right-button mr-1"
      data-toggle="modal"
      data-backdrop="static"
      data-target="#exampleModal"
      (click)="openModal('C')"
    >
      Nuevo proveedor
    </button>
  </div>
</div>

<!-- buscador -->
<form
  autocomplete="off"
  class="m-0 p-0 w-100"
  [formGroup]="searchSupplierForm"
  (ngSubmit)="suppliersFilter()"
>
  <div class="mb-2">
    <div class="d-flex flex-row">
      <div class="collapse d-md-block w-25" id="displayOptions">
        <div class="d-block d-md-inline-block w-100">
          <div class="search-sm d-inline-block w-100 float-md-left mr-1 mb-1 align-top">
            <label class="w-100">
              <input
                type="text"
                autocomplete="off"
                placeholder="Nombre"
                class="form-control w-100"
                id="supplierSearch"
                formControlName="supplierSearch"
              />
            </label>
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-clients btn-primary d-block btn-xs ml-2"
      >
        Buscar
      </button>
      <button
        (click)="clearFilter()"
        type="button"
        class="btn btn-clients btn-outline-primary d-block btn-xs ml-2"
      >
        Limpiar busqueda
      </button>
    </div>
  </div>
</form>
<!-- fin buscador -->

<div class="separator mb-5"></div>

<div class="row mb-4">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of suppliers
                  | paginate
                    : {
                        itemsPerPage: max,
                        currentPage: page,
                        totalItems: total
                      }
              "
            >
              <td>{{ item.name }}</td>
              <td class="text-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button
                    type="button"
                    class="btn btn-info"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Ver"
                    (click)="openModal('S', item)"
                  >
                    <i class="simple-icon-eye"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Editar"
                    (click)="openModal('E', item)"
                  >
                    <i class="simple-icon-pencil"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Eliminar"
                    (click)="deleteSupplier(item)"
                  >
                    <i class="simple-icon-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center mt-3">
          <pagination-template
            #p="paginationApi"
            (pageChange)="onPageChange($event)"
          >
            <div class="custom-pagination">
              <div
                class="pagination-previous"
                [class.disabled]="p.isFirstPage()"
              >
                <span *ngIf="!p.isFirstPage()" (click)="p.previous()"
                  ><i class="simple-icon-arrow-left"></i
                ></span>
              </div>
              <div
                class="page-number"
                *ngFor="let page of p.pages"
                [class.current]="p.getCurrent() === page.value"
              >
                <span
                  (click)="p.setCurrent(page.value)"
                  *ngIf="p.getCurrent() !== page.value"
                  >{{ page.label }}</span
                >
                <div *ngIf="p.getCurrent() === page.value">
                  <span>{{ page.label }}</span>
                </div>
              </div>
              <div class="pagination-next" [class.disabled]="p.isLastPage()">
                <span *ngIf="!p.isLastPage()" (click)="p.next()"
                  ><i class="simple-icon-arrow-right"></i
                ></span>
              </div>
            </div>
          </pagination-template>
        </div>
      </div>
    </div>
  </div>
</div>
