<div class="mb-2">
  <h1>Créditos</h1>
  <div class="top-right-button-container">
    <button
      type="button"
      class="btn btn-outline-primary btn-lg top-right-button mr-1"
      [routerLink]="['/new-credit']"
    >
      Nuevo crédito
    </button>
  </div>
</div>

<!-- buscador -->
<div class="mb-2">
  <a
    class="btn pt-0 pl-0 d-inline-block d-md-none"
    data-toggle="collapse"
    href="#displayOptions"
    role="button"
    aria-expanded="true"
    aria-controls="displayOptions"
  >
    Display Options
    <i class="simple-icon-arrow-down align-middle"></i>
  </a>
  <div class="collapse d-md-block" id="displayOptions">
    <div class="d-block d-md-inline-block">
      <!-- <div class="btn-group float-md-left mr-1 mb-1">
            <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Order By
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </div> -->
      <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
        <label>
          <input placeholder="Buscar..." />
        </label>
      </div>
    </div>
  </div>
</div>
<!-- fin buscador -->

<div class="separator mb-5"></div>

<div class="row mb-4">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>No.</th>
              <th>Tipo</th>
              <th>Fecha Inicio</th>
              <th>Estado</th>
              <th>ID titular</th>
              <th>Titular</th>
              <th>Codeudor 1</th>
              <th>Valor</th>
              <th>Saldo</th>
              <th>Cuotas</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of credits
                  | paginate
                    : {
                        itemsPerPage: max,
                        currentPage: page,
                        totalItems: total
                      }
              "
            >
              <td>{{ item.code }}</td>
              <td>{{ item.credit_type.name | uppercase }}</td>
              <td>{{ item.start_date | date: "yyyy-MM-dd" }}</td>
              <td>{{ item.status | formatStatus }}</td>
              <td>{{ item.debtor?.document_number }}</td>
              <td>{{ item.debtor?.name | uppercase }}</td>
              <td>{{ item.first_co_debtor?.name | uppercase }}</td>
              <td>${{ item.liquidate.total_credit }}</td>
              <td>{{ item.payment | currency }}</td>
              <td>{{ item.fee }}</td>
              <td class="text-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button
                    type="button"
                    class="btn btn-info"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Ver"
                    [routerLink]="['/detail-credit', item.id]"
                  >
                    <i class="simple-icon-eye"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center mt-3">
          <pagination-template
            #p="paginationApi"
            (pageChange)="onPageChange($event)"
          >
            <div class="custom-pagination">
              <div
                class="pagination-previous"
                [class.disabled]="p.isFirstPage()"
              >
                <span *ngIf="!p.isFirstPage()" (click)="p.previous()"
                  ><i class="simple-icon-arrow-left"></i
                ></span>
              </div>
              <div
                class="page-number"
                *ngFor="let page of p.pages"
                [class.current]="p.getCurrent() === page.value"
              >
                <span
                  (click)="p.setCurrent(page.value)"
                  *ngIf="p.getCurrent() !== page.value"
                  >{{ page.label }}</span
                >
                <div *ngIf="p.getCurrent() === page.value">
                  <span>{{ page.label }}</span>
                </div>
              </div>
              <div class="pagination-next" [class.disabled]="p.isLastPage()">
                <span *ngIf="!p.isLastPage()" (click)="p.next()"
                  ><i class="simple-icon-arrow-right"></i
                ></span>
              </div>
            </div>
          </pagination-template>
        </div>
      </div>
    </div>
  </div>
</div>
