<!-- Sidebar -->
<div class="menu">
  <div class="main-menu">
    <div class="scroll">
      <ul class="list-unstyled">
        <li [attr.data-id]="menu.id" class="menu-item" *ngFor="let menu of sidebarService.menu" >
          <a (click)="showItem(menu)" class="pointer">
            <i [className]="menu.icon"></i>
            <span>{{ menu.title }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="sub-menu">
    <div class="scroll">
      <ul class="list-unstyled" data-link="credits" style="display: block">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngFor="let item of menuItems"
        >
          <a [routerLink]="item.url">
            <i class="{{ item.icon }}"></i>
            <span class="d-inline-block">{{ item.title }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->
