<div class="mb-2">
  <h1>Procesos</h1>
  <div class="top-right-button-container">
    <button
      type="button"
      class="btn btn-outline-primary btn-lg top-right-button mr-1"
      [routerLink]="['/new-process']"
    >
      Nuevo proceso
    </button>
  </div>
</div>

<!-- buscador -->
<div class="mb-2">
  <a
    class="btn pt-0 pl-0 d-inline-block d-md-none"
    data-toggle="collapse"
    href="#displayOptions"
    role="button"
    aria-expanded="true"
    aria-controls="displayOptions"
  >
    Display Options
    <i class="simple-icon-arrow-down align-middle"></i>
  </a>
  <div class="collapse d-md-block" id="displayOptions">
    <div class="d-block d-md-inline-block">
      <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
        <label>
          <input placeholder="Buscar..."/>
        </label>
      </div>
    </div>
  </div>
</div>
<!-- fin buscador -->

<div class="separator mb-5"></div>

<div class="row mb-4">
  <app-table-processes
    (processChange)="getProcesses($event)"
    [ngClass]="'col-12 mb-4'"
    [title]="''" [items]="processes"
    [idPg]="'pg-processes'"
    [totalPaginate]="total"
    [pagination]="true"></app-table-processes>
</div>
