/* You can add global styles to this file, and also import other style files */
.table {
  margin-bottom: 0 !important;
}

.pointer {
  cursor: pointer;
}

.fixed-top {
  z-index: 999 !important;
}

.mat-dialog-container {
  border-radius: .75rem !important;
}

button:disabled {
  cursor: not-allowed;
}

/**
estilos de la paginacion
 */

.custom-pagination {
  align-content: center;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.25em;
  margin-right: 1.25em;
  line-height: 1;
  font-size: .76rem;
  min-width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.page-number:hover {
  background: #00365a;
  color: white;
}

.page-number.current {
  border: 1px solid #00365a;
}

.page-number.current:hover {
  color: inherit;
  background: transparent;
  border: 1px solid #00365a;
}

.pagination-previous, .pagination-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00365a;
  min-width: 30px;
  height: 30px;
  line-height: 1;
  font-size: .76rem;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.pagination-previous {
  margin-right: 1.25em;
}

.pagination-next {
  margin-left: 1.25em;
}

.pagination-previous.disabled, .pagination-next.disabled {
  opacity: 0.3 !important;
  background: transparent !important;
  border: 1px solid #00365a !important;
  cursor: not-allowed !important;
}

/**
fin lestilos de la paginacion
 */

/**
estilos font size icon card
 */
.title-sm {
  font-size: 0.8rem !important;
}

.title-md {
  font-size: 1.2rem !important;
}

.title-lg {
  font-size: 1.6rem !important;
}

/**
fin font size icons card
 */
