/* You can add global styles to this file, and also import other style files */
.table {
    margin-bottom: 0px !important;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: red;
}

.pointer {
    cursor: pointer;
}