<div class="mb-2">
  <h1>Dashboard</h1>
</div>

<div class="row mb-3">
    <div class="col 12">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ultimas transacciones</h5>
            </div>
          </div>
    </div>
</div>

<div class="row">
  <div class="col-xl-6 col-lg-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ultimas transacciones</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Documento</th>
              <th>Telefono</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>data</td>
              <td>data</td>
              <td>data</td>
              <td>data</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ultimos creditos</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Documento</th>
              <th>Telefono</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>data</td>
              <td>data</td>
              <td>data</td>
              <td>data</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
