<div class="mb-2">
  <h1>Dashboard</h1>
</div>

<div class="row mb-3">
  <div class="col 12">
    <div class="row icon-cards-row mb-4 justify-content-between">

      <div class="col-md-3 col-lg-2 col-sm-4 col-6 mb-4 p-0">
        <a href="#" class="card">
          <div class="card-body text-center">
            <i class="iconsminds-upward"></i>
            <p class="card-text font-weight-semibold mb-0">Ingresos del mes</p>
            <p class="lead text-center">$5.000.000</p>
          </div>
        </a>
      </div>

      <div class="col-md-3 col-lg-2 col-sm-4 col-6 mb-4 p-0">
        <a href="#" class="card">
          <div class="card-body text-center">
            <i class="iconsminds-downward"></i>
            <p class="card-text font-weight-semibold mb-0">Engresos del mes</p>
            <p class="lead text-center">$1.800.000</p>
          </div>
        </a>
      </div>

      <div class="col-md-3 col-lg-2 col-sm-4 col-6 mb-4 p-0">
        <a href="#" class="card">
          <div class="card-body text-center">
            <i class="iconsminds-diploma-2"></i>
            <p class="card-text font-weight-semibold mb-0">Creditos del mes</p>
            <p class="lead text-center">10</p>
          </div>
        </a>
      </div>

      <div class="col-md-3 col-lg-2 col-sm-4 col-6 mb-4 p-0">
        <a href="#" class="card">
          <div class="card-body text-center">
            <i class="iconsminds-add-user"></i>
            <p class="card-text font-weight-semibold mb-0">Clientes nuevos</p>
            <p class="lead text-center">4</p>
          </div>
        </a>
      </div>

      <div class="col-md-3 col-lg-2 col-sm-4 col-6 mb-4 p-0">
        <a href="#" class="card">
          <div class="card-body text-center">
            <i class="iconsminds-close"></i>
            <p class="card-text font-weight-semibold mb-0">Creditos atrasados</p>
            <p class="lead text-center">4</p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

<!--<div class="row mb-3">
  <div class="col 12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ultimas transacciones</h5>
      </div>
    </div>
  </div>
</div>-->

<div class="row">
  <div class="col-xl-6 col-lg-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ultimas transacciones</h5>
        <table class="table">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Telefono</th>
            <th>Email</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of [1,2,3,4,5]">
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-12 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ultimos creditos</h5>
        <table class="table">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Telefono</th>
            <th>Email</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of [1,2,3,4,5]">
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
