<div class="mb-2">
  <h1 class="d-flex flex-row align-items-center">
    <a
      [routerLink]="'/advisers'"
      class="flex flex-row align-items-center mr-4 p-0"
    >
      <i class="simple-icon-arrow-left align-middle title-md"></i>
    </a>
    <span>Detalles de asesor</span>
  </h1>
</div>

<div class="separator mb-5"></div>

<div class="row mb-4" *ngIf="adviser">
  <app-card-adviser-detail
    [ngClass]="'col-xl-6 col-lg-12 mb-4'"
    [adviser]="adviser"></app-card-adviser-detail>

  <app-table-transactions
    (pageChange)="getTransactions($event)"
    [ngClass]="'col-xl-6 col-lg-12 mb-4'"
    [title]="'Transacciones'" [items]="transactions"
    [idPg]="'pg-transactions'"
    [totalPaginate]="transactionsPaginate"
    [pagination]="true"></app-table-transactions>
</div>


<div class="row mb-4" *ngIf="total">
  <app-table-advisers
    (creditAdviserChange)="getCredits($event)"
    [ngClass]="'col-12 mb-4'"
    [title]="'Creditos comisionados'" [credits]="credits"
    [idPg]="'pg-advisers'"
    [totalPaginate]="total"
    [pagination]="true"></app-table-advisers>
</div>
